
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-label{
  margin-bottom: 2em !important;
  top:0;
 
  overflow: visible;
 }
  mat-form-field{
    border: 0px !important;
    width: 100%;
    overflow: visible;
    padding:0;
    
  }
  h1{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
  
    color: #b12e76;
  }
  input, select{
    width:80%;
    border: 1px;
    padding: 0;
    font-size:2em;
  }
  span input{
    display: inline-flex;
    float:right;
    width:25px;
  }

  button{
    background: #000000;
    padding:0.5em;
    color:white;
    font-size:2em;
  }
  
  .close-button{
  background: #8181815b;
  border-radius: 0%;
    font-size:10px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 10px;
  }
  
  .input, .textarea{
  background:#ffffff;
  font-size: 10px;
  
  margin-top:1em;
  align-self: center;
  color: #000000;
  border: 1px solid #b9a3b9;
  }
  
  .contenedor{
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  
  input{
    width: 80%;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #d44f92;
    padding: 15px 20px;
    color:#8498AF;
    font-size: .9rem;
    transition: .4s;
    
  }
  
  [type="submit"]{
    background: #d44f92;
    border-radius: 30px;
    padding: 16px 30px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    transition: .4s;
    border: none;
    box-shadow: none;
    margin: 0;
  }
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex, ::ng-deep  .mat-form-field-fill  .mat-form-field-underline  {
   
    background-color: rgb(255, 255, 255) !important;
}
::ng-deep .mat-form-field-underline{
    display:none !important;
}
::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button .mat-datepicker-toggle-default-icon,::ng-deep  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon{
    margin-top: -3em !important;
}
::ng-deep .input[_ngcontent-nuu-c74]{
    border:0 !important;
    width: 60%;
}